@import 'normalize.css';
@import 'default.css';

.app {
    display: flex;
}

.logo {
    margin-bottom: 50px;
}

.panel {
    background-color: #fff;
    min-height: 100vh;
    padding: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    margin: 0 auto;
}
.menu__item {
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
}
.menu__add {
    margin: 0 auto;
}