@import 'normalize.css';
@import 'default.css';

.app {
    display: flex;
}

.logo {
    margin-bottom: 50px;
}

.panel {
    background-color: #fff;
    min-height: 100vh;
    padding: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: ;
}